/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


body{
    background: rgb(206, 206, 206);
}
ul li{
    border: 1px solid grey;
    padding: 10px;
    list-style: none;
}
input{
    border: none;
    padding: 5px;
    width: 100%;
}
.container-box{
 width: 50%;
}